# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\Coursera Deep Learning\MySolution\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
